.sermon-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  height: 100%;
  position: relative;
}

.sermon-page {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 10px 0;
}

.sermon-params {
  width: 30%;
  background: #e6e6e6;
  padding: 10px;
}

.sermon-params > p {
  font-size: 20px;
  margin-bottom: 5px;
}

.sermons-index {
  width: 75%;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.sermon-item {
  width: 32%;
  height: 300px;
  background: #e6e6e6;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sermon-item-image {
  width: 95%;
  margin-top: 5px;
}

.sermon-item > p {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}

.sermon-title {
  font-size: 18px !important;
  margin-bottom: 5px;
}

.sermon-params-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sermon-params-section-container > .select {
  margin: 0 0 20px;
}

.params-container {
  position: relative;
  display: flex;
}

.sermon-modal {
  background: black;
  border-radius: 10px;
  outline: none;
  padding: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2000;
  width: 90%;
  height: 80%;
}

.sermon-modal-container {
  height: 100%;
  width: 100%;
}

.modal-close {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
}

.ReactModal__Overlay--after-open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.sermon-player {
  width: 100%;
  height: 100%;
  border: none;
}
