.sermon-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  height: 100%;
  position: relative;
}

.sermon-page {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 10px 0;
}

.sermon-params {
  width: 30%;
  background: #e6e6e6;
  padding: 10px;
}

.sermon-params > p {
  font-size: 20px;
  margin-bottom: 5px;
}

.sermons-index {
  width: 75%;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sermon-item {
  width: 32%;
  height: 300px;
  background: #e6e6e6;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sermon-item-image {
  width: 95%;
  margin-top: 5px;
}

.sermon-item > p {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}

.sermon-title {
  font-size: 18px !important;
  margin-bottom: 5px;
}

.sermon-params-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sermon-params-section-container > .select {
  margin: 0 0 20px;
}

.params-container {
  position: relative;
  display: flex;
}
