html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  text-decoration: none;
  color:inherit;
  margin: 0;
  box-sizing: inherit;
  font-size: inherit;
  min-height: inherit;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}

ul {
  padding: 0;
}

body, main, html {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px;
}

.login-form-box {
  margin: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form > input {
  margin: 2px;
}

.spacer {
  height: 110px;
  width: 100%;
}
