.header-content {
  width: 97%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  font-size: 18px;
}

.header-image {
  height: 90px;
}

.links {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.links > a {
  margin: 10px;
  cursor: pointer;
}

.links > a:hover {
  color: #E20F28
}

.header-about, .header-connect, .header-next-step {
  margin: 10px;
  position: relative;
}

.header-about:hover > a {
  color: #E20F28;
  cursor: pointer;
}

.header-connect:hover > a {
  color: #E20F28;
  cursor: pointer;
}

.header-next-step:hover > a {
  color: #E20F28;
  cursor: pointer;
}

.header-about:hover > .about-dropdown {
  opacity: 1;
  height: 75px;
  transition: opacity .5s ease-out;
}

.header-connect:hover > .connect-dropdown {
  opacity: 1;
  height: 240px;
  transition: opacity .5s ease-out;
}

.header-next-step:hover > .next-step-dropdown {
  opacity: 1;
  height: 145px;
  transition: opacity .5s ease-out;
}

.connect-dropdown {
  width: 150px;
}

.next-step-dropdown {
  width: 250px;
}

.about-dropdown, .connect-dropdown, .next-step-dropdown {
  padding: 10px 20px 0 10px;
  left: -10px;
  position: absolute;
  transition: opacity .2s ease-out;
  opacity: 0;
  height: 0;
  background: white;
}

.about-dropdown > a > li {
  margin-top: 9px;
}

.connect-dropdown > a > li {
  margin-top: 9px;
}

.next-step-dropdown > a > li {
  margin-top: 9px;
}

.about-dropdown > a:hover {
  color: #E20F28
}

.connect-dropdown > a:hover {
  color: #E20F28
}

.next-step-dropdown > a:hover {
  color: #E20F28
}

.give {
  padding: 10px 17px;
  background: transparent;
  border: none;
  outline: 2px solid #E20F28;
  color: #E20F28;
}

.mission-statement {
  background-color: #262626;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 25px;
  font-weight: 300;
  font-style: italic;
}

.footer-links {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #171819;
}

.social-media-links > a {
  padding: 5px;
  font-size: 30px;
  color: #919191;
}

.social-media-links > a:hover {
  color: #FFFFFF;
}

.footer-links > p {
  padding: 5px;
  font-size: 13px;
  color: #919191;
}

.give:hover {
  background: #E20F28;
  color: white;
}
