.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission-header {
  background: linear-gradient(
                     rgba(20,20,20, .3),
                     rgba(20,20,20, .3)),
                     url(http://res.cloudinary.com/dmow8kfvt/image/upload/v1484681143/HomeBanner_yy9myl.png);
  width: 100%;
  height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission-header > h2 {
  font-size: 80px;
  color: white;
}

.mission-and-vision {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.mission-and-vision > h2 {
  padding-bottom: 0;
  font-size: 40px;
  font-weight: 300;
}

.mission-subheading {
  font-style: italic;
  font-size: 17px;
  padding-bottom: 20px;
}

.mission-text {
  font-size: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.vision-info {
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

.vision-info > img {
  width: 45%;
  height: 100%;
}

.vision-text {
  width: 40%;
}

.vision-text > span {
  font-weight: 600;
  font-size: 20px;
}

.vision-text > p {
  font-size: 17px;
  margin: 5px 0 20px;
}
