.visit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visit > .locations {
  width: 100%
}

.selma-link > button,
.winchester-link > button,
.yorktown-link > button,
.selma-youth > button,
.winchester-youth > button,
.yorktown-youth > button,
.jump > button,
.summit > button,
.rookie > button,
.boy-preteen > button,
.girl-preteen > button  {
  width: 75%;
  margin: 15px auto;
  height: 40px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  outline: none;
}

.selma-link > button:hover,
.winchester-link > button:hover,
.yorktown-link > button:hover,
.selma-youth > button:hover,
.winchester-youth > button:hover,
.yorktown-youth > button:hover,
.jump > button:hover,
.summit > button:hover,
.rookie > button:hover,
.boy-preteen > button:hover,
.girl-preteen > button:hover {
  color: #E20F28;
  background: white;
  cursor: pointer;
}

.no-details {
  height: 0px;
}

.campus-info {
  margin-top: 50px;
  width: 95%;
  display: flex;
  justify-content: center;
}

.map {
  width: 400px;
  height: 400px;
  margin-right: 20px;
}

.campus-info-details {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address {
  display: flex;
}

.address > span{
  margin-right: 40px;
}

.campus-info-details-text {
  height: 250px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.campus-info-details-text-winchester {
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.campus-info-details-text > h3, .campus-info-details-text-winchester > h3 {
  margin: 0;
  font-size: 30px;
}

.campus-info-details > a {
  width: 122px;
  padding: 10px;
  color: white;
  background: grey;
}

.visit-header {
  background: transparent url("https://res.cloudinary.com/dmow8kfvt/image/upload/c_scale,h_1500,w_5000/v1483747438/fw98ccvzweq-lukas-budimaier_efi24l.jpg") center center no-repeat;
  width: 100%;
  height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visit-header > h2 {
  font-size: 80px;
  color: white;
}

.what-to-expect {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.what-to-expect-content {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.what-to-expect-image {
  background: transparent url("https://res.cloudinary.com/dmow8kfvt/image/upload/v1484031090/dxudxxnxqnc-elias-ehmann_x9shgn.jpg") center center no-repeat;
  width: 30%;
  height: 350px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.what-to-expect-text {
  width: 65%;
  font-size: 18px;
}
