.youth-header {
  background: linear-gradient(
                     rgba(20,20,20, .1),
                     rgba(20,20,20, .1)),
                     url(http://res.cloudinary.com/dmow8kfvt/image/upload/c_scale,h_400/v1488264299/16819122_10212725687602485_7937604284766093649_o_bjmcvf.jpg);
  width: 100%;
  height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.youth-header > h2 {
  font-size: 80px;
  color: white;
}

.youth-purpose-text {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 50px;
  text-align: center;
  width: 70%;
}

.youth-goals-image {
  background: transparent url("http://res.cloudinary.com/dmow8kfvt/image/upload/v1487763244/15965062_10211756903095234_2424725772864916255_n_xyur6g.jpg") center center no-repeat;
  width: 30%;
  height: 350px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.youth-goals-text {
  width: 65%;
  font-size: 20px;
}

.youth-goals-points > li {
  padding-bottom: 10px;
}

.youth-strong {
  font-size: 25px;
}

.youth-locations {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.selma-youth {
  background: transparent url("http://res.cloudinary.com/dmow8kfvt/image/upload/c_scale,h_350/v1487745784/Screen_Shot_2017-02-21_at_10.35.24_PM_smikzg.png") center center no-repeat;
}

.winchester-youth {
  background: transparent url("http://res.cloudinary.com/dmow8kfvt/image/upload/c_scale,h_350/v1487745775/14937327_10210927298875647_7379765040954260879_n_vftzxu.jpg") center center no-repeat;
}

.yorktown-youth {
  background: transparent url("http://res.cloudinary.com/dmow8kfvt/image/upload/c_scale,h_350/v1487745780/14446111_10210616353782214_6603131281280999698_n_kdgzhn.jpg") center center no-repeat;
}

.download-button {
  padding: 5px 40px;
  width: 40%;
  margin: 60px auto;
  height: 40px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #E20F28;
  color: #E20F28;
  font-size: 20px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-button:hover {
  color: white;
  background: #E20F28;
}

.youth-schedule-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.youth-schedule-img {
  width: 47%;
  height: 100%;
}

.youth-schedule-container-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

.youth-schedule-img-mobile {
  width: 95%;
  height: 100%;
  margin-bottom: 30px;
}
