<!DOCTYPE html>
<html>
<head>
  <title>The Compass Church</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel='shortcut icon' href='http://res.cloudinary.com/dmow8kfvt/image/upload/v1483579478/Compass_Logo_Cross_mqoj31_bbgxm5.png' type='image/x-icon'/ >
  <script src="https://use.fontawesome.com/6fbe5badb5.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
